### **Corona Virus Visualization**

Importing different libraries

In [95]:
import numpy as np 
import pandas as pd
from datetime import datetime as dt

Reading the Excel File

In [96]:
minhal_excelsheet = pd.ExcelFile("COVID_FINAL_DATA.xlsx")

Printing all the sheets in **minhal_excelsheet**
and parsing all the sheets separatly

In [97]:
minhal_excelsheet.sheet_names
#naming different sheets
sheet1 = minhal_excelsheet.parse(0)
sheet2 = minhal_excelsheet.parse(1)
sheet3 = minhal_excelsheet.parse(2)
sheet4 = minhal_excelsheet.parse(3)
sheet5 = minhal_excelsheet.parse(4)
sheet6 = minhal_excelsheet.parse(5)
sheet7 = minhal_excelsheet.parse(6)
sheet8 = minhal_excelsheet.parse(7)
sheet9 = minhal_excelsheet.parse(8)
sheet10 = minhal_excelsheet.parse(9)

**SHEET 1**

Finding if any sheet has empty spaces

In [98]:
sheet1.isnull().sum()

Unnamed: 0                             0
Cumulative                             0
Cumulative  Test positive              0
Cumulative  tests performed            0
Date                                   0
Discharged                             0
Expired                                0
Home Quarantine                      139
New  (last 24 hrs)                     0
Region                                 0
Still admitted                         0
Tests  performed in last 24 hours      0
dtype: int64

Filling the empty spaces

In [99]:
sheet1=sheet1.fillna(0)

In [100]:
sheet1.isnull().sum()

Unnamed: 0                           0
Cumulative                           0
Cumulative  Test positive            0
Cumulative  tests performed          0
Date                                 0
Discharged                           0
Expired                              0
Home Quarantine                      0
New  (last 24 hrs)                   0
Region                               0
Still admitted                       0
Tests  performed in last 24 hours    0
dtype: int64

In [101]:
sheet1

,Unnamed: 0,Cumulative,Cumulative Test positive,Cumulative tests performed,Date,Discharged,Expired,Home Quarantine,New (last 24 hrs),Region,Still admitted,Tests performed in last 24 hours
0,4,48,2,80,2020-03-11 00:00:00,0,0,0.0,3,ICT,2,8
1,5,61,0,95,2020-03-11 00:00:00,0,0,0.0,6,Punjab,0,7
2,6,84,14,171,2020-03-11 00:00:00,1,0,0.0,1,Sindh,13,55
3,7,20,0,28,2020-03-11 00:00:00,0,0,0.0,0,KP,0,2
4,8,3,0,0,2020-03-11 00:00:00,0,0,0.0,0,KPTD,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
372,8,4370,339,3932,2020-05-01 00:00:00,248,3,78.0,194,GB,10,141
373,9,11194,343,11194,2020-05-01 00:00:00,44,4,277.0,759,ICT,18,759
374,10,17495,2627,18504,2020-05-01 00:00:00,654,146,1211.0,1052,KP,616,1052
375,11,53262,6340,82651,2020-05-01 00:00:00,1921,106,2610.0,3689,Punjab,1703,2737
376,13,54377,6053,54377,2020-05-01 00:00:00,1222,112,3473.0,2587,Sindh,1246,2587

Drop the first column

In [102]:
sheet1.drop(['Unnamed: 0'], axis=1, inplace=True)

In [103]:
sheet1

,Cumulative,Cumulative Test positive,Cumulative tests performed,Date,Discharged,Expired,Home Quarantine,New (last 24 hrs),Region,Still admitted,Tests performed in last 24 hours
0,48,2,80,2020-03-11 00:00:00,0,0,0.0,3,ICT,2,8
1,61,0,95,2020-03-11 00:00:00,0,0,0.0,6,Punjab,0,7
2,84,14,171,2020-03-11 00:00:00,1,0,0.0,1,Sindh,13,55
3,20,0,28,2020-03-11 00:00:00,0,0,0.0,0,KP,0,2
4,3,0,0,2020-03-11 00:00:00,0,0,0.0,0,KPTD,0,0
...,...,...,...,...,...,...,...,...,...,...,...
372,4370,339,3932,2020-05-01 00:00:00,248,3,78.0,194,GB,10,141
373,11194,343,11194,2020-05-01 00:00:00,44,4,277.0,759,ICT,18,759
374,17495,2627,18504,2020-05-01 00:00:00,654,146,1211.0,1052,KP,616,1052
375,53262,6340,82651,2020-05-01 00:00:00,1921,106,2610.0,3689,Punjab,1703,2737
376,54377,6053,54377,2020-05-01 00:00:00,1222,112,3473.0,2587,Sindh,1246,2587

Capitalizing the columns

In [104]:
sheet1.columns=sheet1.columns.str.upper().str.strip()
sheet1.columns

Index(['CUMULATIVE', 'CUMULATIVE  TEST POSITIVE',
       'CUMULATIVE  TESTS PERFORMED', 'DATE', 'DISCHARGED', 'EXPIRED',
       'HOME QUARANTINE', 'NEW  (LAST 24 HRS)', 'REGION', 'STILL ADMITTED',
       'TESTS  PERFORMED IN LAST 24 HOURS'],
      dtype='object')

Padding the 'REGION' column

In [105]:
sheet1['REGION']=sheet1['REGION'].str.pad(12,side='right')
sheet1.head()

,CUMULATIVE,CUMULATIVE TEST POSITIVE,CUMULATIVE TESTS PERFORMED,DATE,DISCHARGED,EXPIRED,HOME QUARANTINE,NEW (LAST 24 HRS),REGION,STILL ADMITTED,TESTS PERFORMED IN LAST 24 HOURS
0,48,2,80,2020-03-11 00:00:00,0,0,0.0,3,ICT,2,8
1,61,0,95,2020-03-11 00:00:00,0,0,0.0,6,Punjab,0,7
2,84,14,171,2020-03-11 00:00:00,1,0,0.0,1,Sindh,13,55
3,20,0,28,2020-03-11 00:00:00,0,0,0.0,0,KP,0,2
4,3,0,0,2020-03-11 00:00:00,0,0,0.0,0,KPTD,0,0

Checking the datatypes of all the columns

In [106]:
sheet1.dtypes

CUMULATIVE                             int64
CUMULATIVE  TEST POSITIVE              int64
CUMULATIVE  TESTS PERFORMED            int64
DATE                                  object
DISCHARGED                             int64
EXPIRED                                int64
HOME QUARANTINE                      float64
NEW  (LAST 24 HRS)                     int64
REGION                                object
STILL ADMITTED                         int64
TESTS  PERFORMED IN LAST 24 HOURS     object
dtype: object

Changing the datatype of 'HOME QUARANTINE' from float to int

In [107]:
sheet1['HOME QUARANTINE']=sheet1['HOME QUARANTINE'].apply(np.int64)

In [108]:
sheet1

,CUMULATIVE,CUMULATIVE TEST POSITIVE,CUMULATIVE TESTS PERFORMED,DATE,DISCHARGED,EXPIRED,HOME QUARANTINE,NEW (LAST 24 HRS),REGION,STILL ADMITTED,TESTS PERFORMED IN LAST 24 HOURS
0,48,2,80,2020-03-11 00:00:00,0,0,0,3,ICT,2,8
1,61,0,95,2020-03-11 00:00:00,0,0,0,6,Punjab,0,7
2,84,14,171,2020-03-11 00:00:00,1,0,0,1,Sindh,13,55
3,20,0,28,2020-03-11 00:00:00,0,0,0,0,KP,0,2
4,3,0,0,2020-03-11 00:00:00,0,0,0,0,KPTD,0,0
...,...,...,...,...,...,...,...,...,...,...,...
372,4370,339,3932,2020-05-01 00:00:00,248,3,78,194,GB,10,141
373,11194,343,11194,2020-05-01 00:00:00,44,4,277,759,ICT,18,759
374,17495,2627,18504,2020-05-01 00:00:00,654,146,1211,1052,KP,616,1052
375,53262,6340,82651,2020-05-01 00:00:00,1921,106,2610,3689,Punjab,1703,2737
376,54377,6053,54377,2020-05-01 00:00:00,1222,112,3473,2587,Sindh,1246,2587

Changing the syntax of 'DATE' column

In [109]:
sheet1['DATE']=pd.to_datetime(sheet1['DATE']).dt.date
sheet1['DATE'][20]

datetime.date(2020, 3, 13)

Changing the datatype of 'TESTS  PERFORMED IN LAST 24 HOURS' column from object to int

In [110]:
sheet1['TESTS  PERFORMED IN LAST 24 HOURS'] = pd.to_numeric(sheet1['TESTS  PERFORMED IN LAST 24 HOURS'], errors='coerce')
sheet1['TESTS  PERFORMED IN LAST 24 HOURS']

0         8.0
1         7.0
2        55.0
3         2.0
4         0.0
        ...
372     141.0
373     759.0
374    1052.0
375    2737.0
376    2587.0
Name: TESTS  PERFORMED IN LAST 24 HOURS, Length: 377, dtype: float64

In [111]:
sheet1 = sheet1.replace(np.nan, 0, regex=True)

In [112]:
sheet1.dtypes

CUMULATIVE                             int64
CUMULATIVE  TEST POSITIVE              int64
CUMULATIVE  TESTS PERFORMED            int64
DATE                                  object
DISCHARGED                             int64
EXPIRED                                int64
HOME QUARANTINE                        int64
NEW  (LAST 24 HRS)                     int64
REGION                                object
STILL ADMITTED                         int64
TESTS  PERFORMED IN LAST 24 HOURS    float64
dtype: object

In [113]:
sheet1['TESTS  PERFORMED IN LAST 24 HOURS']=sheet1['TESTS  PERFORMED IN LAST 24 HOURS'].apply(np.int64)

Checking the datatypes

In [114]:
sheet1.dtypes

CUMULATIVE                            int64
CUMULATIVE  TEST POSITIVE             int64
CUMULATIVE  TESTS PERFORMED           int64
DATE                                 object
DISCHARGED                            int64
EXPIRED                               int64
HOME QUARANTINE                       int64
NEW  (LAST 24 HRS)                    int64
REGION                               object
STILL ADMITTED                        int64
TESTS  PERFORMED IN LAST 24 HOURS     int64
dtype: object

Displaying Sheet1

In [115]:
sheet1

,CUMULATIVE,CUMULATIVE TEST POSITIVE,CUMULATIVE TESTS PERFORMED,DATE,DISCHARGED,EXPIRED,HOME QUARANTINE,NEW (LAST 24 HRS),REGION,STILL ADMITTED,TESTS PERFORMED IN LAST 24 HOURS
0,48,2,80,2020-03-11,0,0,0,3,ICT,2,8
1,61,0,95,2020-03-11,0,0,0,6,Punjab,0,7
2,84,14,171,2020-03-11,1,0,0,1,Sindh,13,55
3,20,0,28,2020-03-11,0,0,0,0,KP,0,2
4,3,0,0,2020-03-11,0,0,0,0,KPTD,0,0
...,...,...,...,...,...,...,...,...,...,...,...
372,4370,339,3932,2020-05-01,248,3,78,194,GB,10,141
373,11194,343,11194,2020-05-01,44,4,277,759,ICT,18,759
374,17495,2627,18504,2020-05-01,654,146,1211,1052,KP,616,1052
375,53262,6340,82651,2020-05-01,1921,106,2610,3689,Punjab,1703,2737
376,54377,6053,54377,2020-05-01,1222,112,3473,2587,Sindh,1246,2587

**SHEET 2**

Display Sheet 2

In [116]:
sheet2

,Date,Province Old,Suspected Cases Last Date,Suspected Cases Last 24 Hrs,Suspected Cases Cumulative,Lab Tests Last 24 Hrs,Lab Tests Cumulative,Confirmed Cases Last Date,Confirmed Cases Last 24 Hrs,Confirmed Cases Cumulative,...,Confirmed HW - Active Doctors,Confirmed HW - Active Nurses,Confirmed HW - Active Others,Confirmed HW - Active Total,Confirmed HW - Active Isolation,Confirmed HW - Active Hospital,Confirmed HW - Active Hospital Stable,Confirmed HW - Active Hospital Ventilator,Confirmed HW - Active Recovered,Confirmed HW - Active Deaths
0,2020-04-04,AJK,322,21,343,21,343,9,2,11,...,0,0,0,0,0,0,0,0,0,0
1,2020-04-04,Balochistan,2171,230,2401,0,2401,169,6,175,...,0,0,0,0,0,0,0,0,0,0
2,2020-04-04,GB,961,2,963,844,860,190,3,193,...,0,0,0,0,0,0,0,0,0,0
3,2020-04-04,ICT,2395,174,2569,174,2569,68,7,75,...,0,0,0,0,0,0,0,0,0,0
4,2020-04-04,KP,1938,431,2369,181,1624,311,32,343,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,2020-04-25,GB,3434,157,3591,111,3273,307,1,308,...,1,0,16,17,0,14,14,0,1,2
150,2020-04-25,ICT,8059,396,8455,396,8455,223,12,235,...,14,7,12,33,27,1,1,0,4,1
151,2020-04-25,KP,12100,821,12921,821,13930,1708,85,1793,...,36,6,34,76,58,2,2,0,15,1
152,2020-04-25,Punjab,41126,1330,42456,1755,71726,5046,332,5378,...,55,16,22,93,8,50,50,0,35,0
153,2020-04-25,Sindh,35582,2599,38181,2599,38181,3945,287,4232,...,29,17,31,77,0,62,62,0,15,0

Checking the datatypes

In [117]:
sheet2.dtypes

Date                                         datetime64[ns]
Province Old                                         object
Suspected Cases Last Date                             int64
Suspected Cases Last 24 Hrs                           int64
Suspected Cases Cumulative                            int64
Lab Tests Last 24 Hrs                                 int64
Lab Tests Cumulative                                  int64
Confirmed Cases Last Date                             int64
Confirmed Cases Last 24 Hrs                           int64
Confirmed Cases Cumulative                            int64
 Deaths Last Date                                     int64
 Deaths Last 24 Hrs                                   int64
 Deaths Cumulative                                    int64
Transmission Total                                    int64
Transmission Foreign - Iran                           int64
Transmission Foreign - Iran %                       float64
Transmission Foreign - Other                          int64
Transmission Foreign - Other %                      float64
Transmission Local - Tableegh                         int64
Transmission Local % - Tableegh                     float64
Transmission Local - Others                           int64
Transmission Local % - Others                       float64
Transmission Local                                    int64
Transmission Local %                                float64
Total Hospitals                                       int64
Beds for COVID                                        int64
Total Admitted                                        int64
Admitted Stable                                       int64
Admitted Critical                                     int64
Admitted Venilator                                    int64
Home Quarantine                                       int64
Recovered                                             int64
Death                                                 int64
Quarantine Facilities                                 int64
Last 24 Hrs Arrival                                   int64
Last 24 Hrs (Location)                                int64
Last 24 Hrs Departure                                 int64
Cumulative Quarantined                                int64
Number of Tests                                       int64
Results Achieved                                      int64
Test Positive Cases                                   int64
Test Positive Cases %                               float64
Confirmed HW - Active Doctors                         int64
Confirmed HW - Active Nurses                          int64
Confirmed HW - Active Others                          int64
Confirmed HW - Active Total                           int64
Confirmed HW - Active Isolation                       int64
Confirmed HW - Active Hospital                        int64
Confirmed HW - Active Hospital Stable                 int64
Confirmed HW - Active Hospital Ventilator             int64
Confirmed HW - Active Recovered                       int64
Confirmed HW - Active Deaths                          int64
dtype: object

Check whether there is any empty spaces in any column

In [118]:
sheet2.isnull().sum()

Date                                         0
Province Old                                 0
Suspected Cases Last Date                    0
Suspected Cases Last 24 Hrs                  0
Suspected Cases Cumulative                   0
Lab Tests Last 24 Hrs                        0
Lab Tests Cumulative                         0
Confirmed Cases Last Date                    0
Confirmed Cases Last 24 Hrs                  0
Confirmed Cases Cumulative                   0
 Deaths Last Date                            0
 Deaths Last 24 Hrs                          0
 Deaths Cumulative                           0
Transmission Total                           0
Transmission Foreign - Iran                  0
Transmission Foreign - Iran %                0
Transmission Foreign - Other                 0
Transmission Foreign - Other %               0
Transmission Local - Tableegh                0
Transmission Local % - Tableegh              0
Transmission Local - Others                  0
Transmission Local % - Others                0
Transmission Local                           0
Transmission Local %                         0
Total Hospitals                              0
Beds for COVID                               0
Total Admitted                               0
Admitted Stable                              0
Admitted Critical                            0
Admitted Venilator                           0
Home Quarantine                              0
Recovered                                    0
Death                                        0
Quarantine Facilities                        0
Last 24 Hrs Arrival                          0
Last 24 Hrs (Location)                       0
Last 24 Hrs Departure                        0
Cumulative Quarantined                       0
Number of Tests                              0
Results Achieved                             0
Test Positive Cases                          0
Test Positive Cases %                        0
Confirmed HW - Active Doctors                0
Confirmed HW - Active Nurses                 0
Confirmed HW - Active Others                 0
Confirmed HW - Active Total                  0
Confirmed HW - Active Isolation              0
Confirmed HW - Active Hospital               0
Confirmed HW - Active Hospital Stable        0
Confirmed HW - Active Hospital Ventilator    0
Confirmed HW - Active Recovered              0
Confirmed HW - Active Deaths                 0
dtype: int64

Capitalize all the column headings

In [119]:
sheet2.columns=sheet2.columns.str.upper().str.strip()
#printing the column headings
sheet2.columns

Index(['DATE', 'PROVINCE OLD', 'SUSPECTED CASES LAST DATE',
       'SUSPECTED CASES LAST 24 HRS', 'SUSPECTED CASES CUMULATIVE',
       'LAB TESTS LAST 24 HRS', 'LAB TESTS CUMULATIVE',
       'CONFIRMED CASES LAST DATE', 'CONFIRMED CASES LAST 24 HRS',
       'CONFIRMED CASES CUMULATIVE', 'DEATHS LAST DATE', 'DEATHS LAST 24 HRS',
       'DEATHS CUMULATIVE', 'TRANSMISSION TOTAL',
       'TRANSMISSION FOREIGN - IRAN', 'TRANSMISSION FOREIGN - IRAN %',
       'TRANSMISSION FOREIGN - OTHER', 'TRANSMISSION FOREIGN - OTHER %',
       'TRANSMISSION LOCAL - TABLEEGH', 'TRANSMISSION LOCAL % - TABLEEGH',
       'TRANSMISSION LOCAL - OTHERS', 'TRANSMISSION LOCAL % - OTHERS',
       'TRANSMISSION LOCAL', 'TRANSMISSION LOCAL %', 'TOTAL HOSPITALS',
       'BEDS FOR COVID', 'TOTAL ADMITTED', 'ADMITTED STABLE',
       'ADMITTED CRITICAL', 'ADMITTED VENILATOR', 'HOME QUARANTINE',
       'RECOVERED', 'DEATH', 'QUARANTINE FACILITIES', 'LAST 24 HRS ARRIVAL',
       'LAST 24 HRS (LOCATION)', 'LAST 24 HRS DEPARTURE',
       'CUMULATIVE QUARANTINED', 'NUMBER OF TESTS', 'RESULTS ACHIEVED',
       'TEST POSITIVE CASES', 'TEST POSITIVE CASES %',
       'CONFIRMED HW - ACTIVE DOCTORS', 'CONFIRMED HW - ACTIVE NURSES',
       'CONFIRMED HW - ACTIVE OTHERS', 'CONFIRMED HW - ACTIVE TOTAL',
       'CONFIRMED HW - ACTIVE ISOLATION', 'CONFIRMED HW - ACTIVE HOSPITAL',
       'CONFIRMED HW - ACTIVE HOSPITAL STABLE',
       'CONFIRMED HW - ACTIVE HOSPITAL VENTILATOR',
       'CONFIRMED HW - ACTIVE RECOVERED', 'CONFIRMED HW - ACTIVE DEATHS'],
      dtype='object')

Change the datatype of 'DATE' column

In [120]:
sheet2['DATE']=pd.to_datetime(sheet2['DATE']).dt.date

Padding on the 'PROVINCE OLD' column

In [121]:
sheet2['PROVINCE OLD']=sheet2['PROVINCE OLD'].str.pad(12,side='right')

Display Sheet 2

In [122]:
sheet2

,DATE,PROVINCE OLD,SUSPECTED CASES LAST DATE,SUSPECTED CASES LAST 24 HRS,SUSPECTED CASES CUMULATIVE,LAB TESTS LAST 24 HRS,LAB TESTS CUMULATIVE,CONFIRMED CASES LAST DATE,CONFIRMED CASES LAST 24 HRS,CONFIRMED CASES CUMULATIVE,...,CONFIRMED HW - ACTIVE DOCTORS,CONFIRMED HW - ACTIVE NURSES,CONFIRMED HW - ACTIVE OTHERS,CONFIRMED HW - ACTIVE TOTAL,CONFIRMED HW - ACTIVE ISOLATION,CONFIRMED HW - ACTIVE HOSPITAL,CONFIRMED HW - ACTIVE HOSPITAL STABLE,CONFIRMED HW - ACTIVE HOSPITAL VENTILATOR,CONFIRMED HW - ACTIVE RECOVERED,CONFIRMED HW - ACTIVE DEATHS
0,2020-04-04,AJK,322,21,343,21,343,9,2,11,...,0,0,0,0,0,0,0,0,0,0
1,2020-04-04,Balochistan,2171,230,2401,0,2401,169,6,175,...,0,0,0,0,0,0,0,0,0,0
2,2020-04-04,GB,961,2,963,844,860,190,3,193,...,0,0,0,0,0,0,0,0,0,0
3,2020-04-04,ICT,2395,174,2569,174,2569,68,7,75,...,0,0,0,0,0,0,0,0,0,0
4,2020-04-04,KP,1938,431,2369,181,1624,311,32,343,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,2020-04-25,GB,3434,157,3591,111,3273,307,1,308,...,1,0,16,17,0,14,14,0,1,2
150,2020-04-25,ICT,8059,396,8455,396,8455,223,12,235,...,14,7,12,33,27,1,1,0,4,1
151,2020-04-25,KP,12100,821,12921,821,13930,1708,85,1793,...,36,6,34,76,58,2,2,0,15,1
152,2020-04-25,Punjab,41126,1330,42456,1755,71726,5046,332,5378,...,55,16,22,93,8,50,50,0,35,0
153,2020-04-25,Sindh,35582,2599,38181,2599,38181,3945,287,4232,...,29,17,31,77,0,62,62,0,15,0

Rename 'PROVINCE OLD' column to 'REGION'

In [123]:
sheet2.rename(columns={'PROVINCE OLD':'REGION'},inplace=True)

In [124]:
sheet2.columns

Index(['DATE', 'REGION', 'SUSPECTED CASES LAST DATE',
       'SUSPECTED CASES LAST 24 HRS', 'SUSPECTED CASES CUMULATIVE',
       'LAB TESTS LAST 24 HRS', 'LAB TESTS CUMULATIVE',
       'CONFIRMED CASES LAST DATE', 'CONFIRMED CASES LAST 24 HRS',
       'CONFIRMED CASES CUMULATIVE', 'DEATHS LAST DATE', 'DEATHS LAST 24 HRS',
       'DEATHS CUMULATIVE', 'TRANSMISSION TOTAL',
       'TRANSMISSION FOREIGN - IRAN', 'TRANSMISSION FOREIGN - IRAN %',
       'TRANSMISSION FOREIGN - OTHER', 'TRANSMISSION FOREIGN - OTHER %',
       'TRANSMISSION LOCAL - TABLEEGH', 'TRANSMISSION LOCAL % - TABLEEGH',
       'TRANSMISSION LOCAL - OTHERS', 'TRANSMISSION LOCAL % - OTHERS',
       'TRANSMISSION LOCAL', 'TRANSMISSION LOCAL %', 'TOTAL HOSPITALS',
       'BEDS FOR COVID', 'TOTAL ADMITTED', 'ADMITTED STABLE',
       'ADMITTED CRITICAL', 'ADMITTED VENILATOR', 'HOME QUARANTINE',
       'RECOVERED', 'DEATH', 'QUARANTINE FACILITIES', 'LAST 24 HRS ARRIVAL',
       'LAST 24 HRS (LOCATION)', 'LAST 24 HRS DEPARTURE',
       'CUMULATIVE QUARANTINED', 'NUMBER OF TESTS', 'RESULTS ACHIEVED',
       'TEST POSITIVE CASES', 'TEST POSITIVE CASES %',
       'CONFIRMED HW - ACTIVE DOCTORS', 'CONFIRMED HW - ACTIVE NURSES',
       'CONFIRMED HW - ACTIVE OTHERS', 'CONFIRMED HW - ACTIVE TOTAL',
       'CONFIRMED HW - ACTIVE ISOLATION', 'CONFIRMED HW - ACTIVE HOSPITAL',
       'CONFIRMED HW - ACTIVE HOSPITAL STABLE',
       'CONFIRMED HW - ACTIVE HOSPITAL VENTILATOR',
       'CONFIRMED HW - ACTIVE RECOVERED', 'CONFIRMED HW - ACTIVE DEATHS'],
      dtype='object')

In [125]:
sheet2

,DATE,REGION,SUSPECTED CASES LAST DATE,SUSPECTED CASES LAST 24 HRS,SUSPECTED CASES CUMULATIVE,LAB TESTS LAST 24 HRS,LAB TESTS CUMULATIVE,CONFIRMED CASES LAST DATE,CONFIRMED CASES LAST 24 HRS,CONFIRMED CASES CUMULATIVE,...,CONFIRMED HW - ACTIVE DOCTORS,CONFIRMED HW - ACTIVE NURSES,CONFIRMED HW - ACTIVE OTHERS,CONFIRMED HW - ACTIVE TOTAL,CONFIRMED HW - ACTIVE ISOLATION,CONFIRMED HW - ACTIVE HOSPITAL,CONFIRMED HW - ACTIVE HOSPITAL STABLE,CONFIRMED HW - ACTIVE HOSPITAL VENTILATOR,CONFIRMED HW - ACTIVE RECOVERED,CONFIRMED HW - ACTIVE DEATHS
0,2020-04-04,AJK,322,21,343,21,343,9,2,11,...,0,0,0,0,0,0,0,0,0,0
1,2020-04-04,Balochistan,2171,230,2401,0,2401,169,6,175,...,0,0,0,0,0,0,0,0,0,0
2,2020-04-04,GB,961,2,963,844,860,190,3,193,...,0,0,0,0,0,0,0,0,0,0
3,2020-04-04,ICT,2395,174,2569,174,2569,68,7,75,...,0,0,0,0,0,0,0,0,0,0
4,2020-04-04,KP,1938,431,2369,181,1624,311,32,343,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,2020-04-25,GB,3434,157,3591,111,3273,307,1,308,...,1,0,16,17,0,14,14,0,1,2
150,2020-04-25,ICT,8059,396,8455,396,8455,223,12,235,...,14,7,12,33,27,1,1,0,4,1
151,2020-04-25,KP,12100,821,12921,821,13930,1708,85,1793,...,36,6,34,76,58,2,2,0,15,1
152,2020-04-25,Punjab,41126,1330,42456,1755,71726,5046,332,5378,...,55,16,22,93,8,50,50,0,35,0
153,2020-04-25,Sindh,35582,2599,38181,2599,38181,3945,287,4232,...,29,17,31,77,0,62,62,0,15,0

**SHEET 3**

Check the datatypes of the columns

In [126]:
sheet3.dtypes

Date                                                     object
Cumulative travelers Screened                             int64
Suspected at Points of Entry                              int64
Travelers Screened at Points ofEntry in last 24 hours     int64
dtype: object

Capitalize all the column names

In [127]:
sheet3.columns=sheet3.columns.str.upper().str.strip()
sheet3.columns

Index(['DATE', 'CUMULATIVE TRAVELERS SCREENED', 'SUSPECTED AT POINTS OF ENTRY',
       'TRAVELERS SCREENED AT POINTS OFENTRY IN LAST 24 HOURS'],
      dtype='object')

In [128]:
sheet3['DATE'][20]

datetime.datetime(2020, 3, 31, 0, 0)

In [129]:
#Change Date Datatype
sheet3['DATE']=pd.to_datetime(sheet3['DATE']).dt.date
sheet3['DATE'][20]

datetime.date(2020, 3, 31)

In [130]:
sheet3.dtypes

DATE                                                     object
CUMULATIVE TRAVELERS SCREENED                             int64
SUSPECTED AT POINTS OF ENTRY                              int64
TRAVELERS SCREENED AT POINTS OFENTRY IN LAST 24 HOURS     int64
dtype: object

In [131]:
sheet3.isnull().sum()

DATE                                                     0
CUMULATIVE TRAVELERS SCREENED                            0
SUSPECTED AT POINTS OF ENTRY                             0
TRAVELERS SCREENED AT POINTS OFENTRY IN LAST 24 HOURS    0
dtype: int64

In [132]:
sheet3

,DATE,CUMULATIVE TRAVELERS SCREENED,SUSPECTED AT POINTS OF ENTRY,TRAVELERS SCREENED AT POINTS OFENTRY IN LAST 24 HOURS
0,2020-03-11,873288,26,21102
1,2020-03-12,894256,29,20968
2,2020-03-13,913542,33,19286
3,2020-03-14,933970,43,20428
4,2020-03-15,954646,59,20676
5,2020-03-16,975634,74,20988
6,2020-03-17,995821,95,20187
7,2020-03-18,1015909,115,20088
8,2020-03-19,1033884,151,17975
9,2020-03-20,1049282,170,15398
10,2020-03-21,1063193,186,13911
11,2020-03-22,1077632,202,14439
12,2020-03-23,1089933,217,12301
13,2020-03-24,1102234,232,12301
14,2020-03-25,1102383,234,149
15,2020-03-26,1102383,234,0
16,2020-03-27,1102383,234,0
17,2020-03-28,1102383,234,0
18,2020-03-29,1102383,234,0
19,2020-03-30,1102562,234,0
20,2020-03-31,1102562,234,0
21,2020-04-01,1102562,234,0
22,2020-04-02,1102562,234,0
23,2020-04-03,1102562,234,0

**SHEET 4**

In [133]:
sheet4.dtypes

Returnees                           object
Advised Self-Quarantine              int64
Cumulative no offirst-time calls     int64
Cumulativefollow-up calls            int64
Date                                object
First-time calls inpast 24 hrs       int64
Follow-up calls inpast 24 hrs        int64
dtype: object

In [134]:
sheet4.isnull().sum()

Returnees                           0
Advised Self-Quarantine             0
Cumulative no offirst-time calls    0
Cumulativefollow-up calls           0
Date                                0
First-time calls inpast 24 hrs      0
Follow-up calls inpast 24 hrs       0
dtype: int64

In [135]:
sheet4.columns=sheet4.columns.str.upper().str.strip()
sheet4.columns

Index(['RETURNEES', 'ADVISED SELF-QUARANTINE',
       'CUMULATIVE NO OFFIRST-TIME CALLS', 'CUMULATIVEFOLLOW-UP CALLS', 'DATE',
       'FIRST-TIME CALLS INPAST 24 HRS', 'FOLLOW-UP CALLS INPAST 24 HRS'],
      dtype='object')

In [136]:
#Change Date Datatype
sheet4['DATE']=pd.to_datetime(sheet4['DATE']).dt.date
sheet4

,RETURNEES,ADVISED SELF-QUARANTINE,CUMULATIVE NO OFFIRST-TIME CALLS,CUMULATIVEFOLLOW-UP CALLS,DATE,FIRST-TIME CALLS INPAST 24 HRS,FOLLOW-UP CALLS INPAST 24 HRS
0,Returnees from Iran,0,9459,2553,2020-03-11,0,353
1,Returnees from China,11,5342,7746,2020-03-11,17,400
2,Returnees from Iran,14,9475,3221,2020-03-12,16,668
3,Returnees from China,7,5352,7855,2020-03-12,10,109
4,Returnees from Iran,0,9475,3853,2020-03-13,0,632
5,Returnees from China,10,5362,8041,2020-03-13,10,186
6,Returnees from Iran,3,9480,4182,2020-03-14,5,329
7,Returnees from China,5,5370,8083,2020-03-14,8,42
8,Returnees from Iran,0,9480,4625,2020-03-15,0,443
9,Returnees from China,0,5370,8160,2020-03-15,0,77
10,Returnees from Iran,3,9488,4625,2020-03-16,8,0
11,Returnees from China,11,5394,8160,2020-03-16,24,0
12,Returnees from Iran,0,9488,5063,2020-03-17,0,438
13,Returnees from China,13,5413,8180,2020-03-17,19,20
14,Returnees from Iran,0,9488,5337,2020-03-18,0,274
15,Returnees from China,16,5439,8899,2020-03-18,26,719
16,Returnees from Iran,0,9488,5337,2020-03-19,0,32
17,Returnees from China,0,5441,9392,2020-03-19,2,493
18,Returnees from Iran,0,9488,5623,2020-03-20,0,286
19,Returnees from China,8,5458,9392,2020-03-20,17,0
20,Returnees from Iran,1,9489,5977,2020-03-21,1,354
21,Returnees from China,1,5462,9658,2020-03-21,4,266
22,Returnees from Iran,0,9489,6116,2020-03-22,0,139
23,Returnees from China,3,5473,10109,2020-03-22,11,451
24,Returnees from Iran,0,9489,6289,2020-03-23,0,173
25,Returnees from China,1,5474,10451,2020-03-23,1,342
26,Returnees from Iran,0,9489,6289,2020-03-24,0,0
27,Returnees from China,0,5474,10875,2020-03-24,0,424
28,Returnees from Iran,0,9489,6474,2020-03-25,0,185
29,Returnees from China,0,5474,11110,2020-03-25,0,235
30,Returnees from Iran,0,9489,6890,2020-03-26,0,416
31,Returnees from China,0,5474,11460,2020-03-26,0,350
32,Returnees from Iran,0,9489,6923,2020-03-27,0,133
33,Returnees from China,0,5474,11727,2020-03-27,0,267
34,Returnees from Iran,0,9489,7115,2020-03-28,0,192
35,Returnees from China,0,5474,12247,2020-03-28,0,520
36,Returnees from Iran,0,9489,7115,2020-03-29,0,0
37,Returnees from China,0,5474,12409,2020-03-29,0,162
38,Returnees from Iran,0,9489,7215,2020-03-30,0,100
39,Returnees from China,0,5474,12480,2020-03-30,0,71

In [137]:
sheet4.dtypes

RETURNEES                           object
ADVISED SELF-QUARANTINE              int64
CUMULATIVE NO OFFIRST-TIME CALLS     int64
CUMULATIVEFOLLOW-UP CALLS            int64
DATE                                object
FIRST-TIME CALLS INPAST 24 HRS       int64
FOLLOW-UP CALLS INPAST 24 HRS        int64
dtype: object

In [138]:
sheet4['RETURNEES']=sheet4['RETURNEES'].str.pad(12,side='right')
sheet4['RETURNEES']

0      Returnees from Iran
1     Returnees from China
2      Returnees from Iran
3     Returnees from China
4      Returnees from Iran
5     Returnees from China
6      Returnees from Iran
7     Returnees from China
8      Returnees from Iran
9     Returnees from China
10     Returnees from Iran
11    Returnees from China
12     Returnees from Iran
13    Returnees from China
14     Returnees from Iran
15    Returnees from China
16     Returnees from Iran
17    Returnees from China
18     Returnees from Iran
19    Returnees from China
20     Returnees from Iran
21    Returnees from China
22     Returnees from Iran
23    Returnees from China
24     Returnees from Iran
25    Returnees from China
26     Returnees from Iran
27    Returnees from China
28     Returnees from Iran
29    Returnees from China
30     Returnees from Iran
31    Returnees from China
32     Returnees from Iran
33    Returnees from China
34     Returnees from Iran
35    Returnees from China
36     Returnees from Iran
37    Returnees from China
38     Returnees from Iran
39    Returnees from China
Name: RETURNEES, dtype: object

**SHEET 5**

In [139]:
sheet5.isnull().sum()

Unnamed: 0    0
Date          0
News          0
Agg News      0
dtype: int64

In [140]:
sheet5.dtypes

Unnamed: 0     int64
Date          object
News          object
Agg News      object
dtype: object

In [141]:
sheet5.drop(['Unnamed: 0'], axis=1, inplace= True)
sheet5.drop(['News'], axis=1, inplace= True)
sheet5.drop_duplicates(subset='Date', keep='first', inplace= True)
sheet5.columns=sheet5.columns.str.upper().str.strip()
sheet5.columns

Index(['DATE', 'AGG NEWS'], dtype='object')

In [142]:
#Change Date Datatype
sheet5['DATE']=pd.to_datetime(sheet5['DATE']).dt.date
sheet5

           DATE                                           AGG NEWS
0    2020-03-11  Updates: Pakistan: \n Three new cases have bee...
6    2020-03-12  Updates: Pakistan: \n One case confirmed from ...
12   2020-03-13  Updates: Pakistan: \n One case confirmed from ...
18   2020-03-14  Updates: Pakistan: \n 7 new cases confirmed, b...
24   2020-03-15  Updates: Pakistan: \n 3 new cases confirmed, b...
30   2020-03-16  Updates: Pakistan: \n 22 new cases confirmed, ...
35   2020-03-17  Updates: Pakistan: \n 134 new cases confirmed,...
41   2020-03-18  Updates: Pakistan: \n 54 new cases confirmed, ...
45   2020-03-19  Updates: Pakistan: \n During  last  24  hours,...
51   2020-03-20  Updates: Pakistan: \n During last 24 hours, 15...
57   2020-03-21  Updates: Pakistan: \n During last 24 hours, 34...
63   2020-03-22  Updates: Pakistan: \n During last 24 hours, 25...
69   2020-03-23  Updates: Pakistan: \n During last 24 hours, 13...
75   2020-03-24  Updates: Pakistan: \n During last 24 hours, 24...
81   2020-03-25  Updates: Pakistan: \n During last 24 hours, 10...
87   2020-03-26  Updates: Pakistan: \n During last 24 hours, 66...
93   2020-03-27  Updates: Pakistan: \n During last 24 hours, 14...
99   2020-03-28  Updates: Pakistan: \n During last 24 hours, 21...
105  2020-03-29  Updates: Pakistan: \n During last 24 hours, 11...
112  2020-03-30  Updates: Pakistan: \n During last 24 hours, 99...
119  2020-03-31  Updates: Pakistan: \n During last 24 hours, 24...
126  2020-04-01  Updates: Pakistan: \n During last 24 hours, 17...
132  2020-04-02  Updates: Pakistan: \n During last 24 hours, 25...
139  2020-04-03  Updates: Pakistan: \n During last 24 hours, 15...

In [143]:
sheet5['AGG NEWS']=sheet5['AGG NEWS'].str.pad(12,side='right')

In [144]:
sheet5.dtypes

DATE        object
AGG NEWS    object
dtype: object

**SHEET 6**

In [145]:
sheet6.dtypes

Unnamed: 0                            int64
Date                                 object
NIH Preparedness and Response        object
Agg NIH Preparedness and Response    object
dtype: object

In [146]:
sheet6.rename(columns={'Unnamed: 0':'RESPONSES_SR_NO'},inplace=True)
sheet6.columns=sheet6.columns.str.upper().str.strip()
sheet6.columns

Index(['RESPONSES_SR_NO', 'DATE', 'NIH PREPAREDNESS AND RESPONSE',
       'AGG NIH PREPAREDNESS AND RESPONSE'],
      dtype='object')

In [147]:
#Change Date Datatype
sheet6['DATE']=pd.to_datetime(sheet6['DATE']).dt.date

In [148]:
sheet6['NIH PREPAREDNESS AND RESPONSE']=sheet6['NIH PREPAREDNESS AND RESPONSE'].str.pad(12,side='right')
sheet6['AGG NIH PREPAREDNESS AND RESPONSE']=sheet6['AGG NIH PREPAREDNESS AND RESPONSE'].str.pad(12,side='right')

In [149]:
sheet6.dtypes

RESPONSES_SR_NO                       int64
DATE                                 object
NIH PREPAREDNESS AND RESPONSE        object
AGG NIH PREPAREDNESS AND RESPONSE    object
dtype: object

In [150]:
sheet6

,RESPONSES_SR_NO,DATE,NIH PREPAREDNESS AND RESPONSE,AGG NIH PREPAREDNESS AND RESPONSE
0,0,2020-03-11,BSL-3 mobile lab with state of art equipment h...,BSL-3 mobile lab with state of art equipment h...
1,1,2020-03-11,IPC trainings have been completed at Gilgit an...,BSL-3 mobile lab with state of art equipment h...
2,2,2020-03-11,Training of the GB lab staff has been conducte...,BSL-3 mobile lab with state of art equipment h...
3,3,2020-03-11,IPC training is in progress for FG Hospital st...,BSL-3 mobile lab with state of art equipment h...
4,0,2020-03-12,BSL-3 mobile lab is ready for testing. •,BSL-3 mobile lab is ready for testing. • \n I...
...,...,...,...,...
60,1,2020-04-02,Risk communication carried out among healthcar...,Contact tracing of confirmed cases being carri...
61,2,2020-04-02,NIH laboratory is providing support to provinc...,Contact tracing of confirmed cases being carri...
62,0,2020-04-03,Contact tracing of confirmed cases being carri...,Contact tracing of confirmed cases being carri...
63,1,2020-04-03,Risk communication carried out among healthcar...,Contact tracing of confirmed cases being carri...
64,2,2020-04-03,NIH laboratory is providing support to provinc...,Contact tracing of confirmed cases being carri...

**SHEET 7**

In [151]:
sheet7.isnull().sum()

Unnamed: 0             0
Date                   0
Risk Assessment NIH    0
dtype: int64

In [152]:
sheet7.drop(['Unnamed: 0'], axis=1, inplace=True)

In [153]:
sheet7

                   Date Risk Assessment NIH
0           11-Mar-2020           MODERATE.
1           12-Mar-2020           MODERATE.
2           13-Mar-2020           MODERATE.
3           14-Mar-2020           MODERATE.
4           15-Mar-2020            Moderate
5           16-Mar-2020            Moderate
6           17-Mar-2020            Moderate
7           18-Mar-2020            Moderate
8           19-Mar-2020                High
9           20-Mar-2020                High
10          21-Mar-2020                High
11          22-Mar-2020                High
12          23-Mar-2020                High
13          24-Mar-2020                High
14          25-Mar-2020                High
15          26-Mar-2020                High
16          27-Mar-2020                High
17          28-Mar-2020                High
18          29-Mar-2020                High
19          30-Mar-2020                High
20  2020-03-31 00:00:00                High
21  2020-04-01 00:00:00                High
22  2020-04-02 00:00:00                High
23  2020-04-03 00:00:00                High

In [154]:
sheet7['Risk Assessment NIH']=sheet7['Risk Assessment NIH'].str.replace('MODERATE.','Moderate')

In [155]:
sheet7

                   Date Risk Assessment NIH
0           11-Mar-2020            Moderate
1           12-Mar-2020            Moderate
2           13-Mar-2020            Moderate
3           14-Mar-2020            Moderate
4           15-Mar-2020            Moderate
5           16-Mar-2020            Moderate
6           17-Mar-2020            Moderate
7           18-Mar-2020            Moderate
8           19-Mar-2020                High
9           20-Mar-2020                High
10          21-Mar-2020                High
11          22-Mar-2020                High
12          23-Mar-2020                High
13          24-Mar-2020                High
14          25-Mar-2020                High
15          26-Mar-2020                High
16          27-Mar-2020                High
17          28-Mar-2020                High
18          29-Mar-2020                High
19          30-Mar-2020                High
20  2020-03-31 00:00:00                High
21  2020-04-01 00:00:00                High
22  2020-04-02 00:00:00                High
23  2020-04-03 00:00:00                High

In [156]:
sheet7['Risk Assessment NIH']=sheet7['Risk Assessment NIH'].str.pad(12,side='right')

In [157]:
sheet7

                   Date Risk Assessment NIH
0           11-Mar-2020         Moderate
1           12-Mar-2020         Moderate
2           13-Mar-2020         Moderate
3           14-Mar-2020         Moderate
4           15-Mar-2020         Moderate
5           16-Mar-2020         Moderate
6           17-Mar-2020         Moderate
7           18-Mar-2020         Moderate
8           19-Mar-2020         High
9           20-Mar-2020         High
10          21-Mar-2020         High
11          22-Mar-2020         High
12          23-Mar-2020         High
13          24-Mar-2020         High
14          25-Mar-2020         High
15          26-Mar-2020         High
16          27-Mar-2020         High
17          28-Mar-2020         High
18          29-Mar-2020         High
19          30-Mar-2020         High
20  2020-03-31 00:00:00         High
21  2020-04-01 00:00:00         High
22  2020-04-02 00:00:00         High
23  2020-04-03 00:00:00         High

In [158]:
sheet7.dtypes

Date                   object
Risk Assessment NIH    object
dtype: object

In [159]:
sheet7.columns=sheet7.columns.str.upper().str.strip()
sheet7.columns

Index(['DATE', 'RISK ASSESSMENT NIH'], dtype='object')

In [160]:
sheet7

                   DATE RISK ASSESSMENT NIH
0           11-Mar-2020         Moderate
1           12-Mar-2020         Moderate
2           13-Mar-2020         Moderate
3           14-Mar-2020         Moderate
4           15-Mar-2020         Moderate
5           16-Mar-2020         Moderate
6           17-Mar-2020         Moderate
7           18-Mar-2020         Moderate
8           19-Mar-2020         High
9           20-Mar-2020         High
10          21-Mar-2020         High
11          22-Mar-2020         High
12          23-Mar-2020         High
13          24-Mar-2020         High
14          25-Mar-2020         High
15          26-Mar-2020         High
16          27-Mar-2020         High
17          28-Mar-2020         High
18          29-Mar-2020         High
19          30-Mar-2020         High
20  2020-03-31 00:00:00         High
21  2020-04-01 00:00:00         High
22  2020-04-02 00:00:00         High
23  2020-04-03 00:00:00         High

In [161]:
sheet7['DATE']=pd.to_datetime(sheet7['DATE']).dt.date

In [162]:
sheet7

          DATE RISK ASSESSMENT NIH
0   2020-03-11         Moderate
1   2020-03-12         Moderate
2   2020-03-13         Moderate
3   2020-03-14         Moderate
4   2020-03-15         Moderate
5   2020-03-16         Moderate
6   2020-03-17         Moderate
7   2020-03-18         Moderate
8   2020-03-19         High
9   2020-03-20         High
10  2020-03-21         High
11  2020-03-22         High
12  2020-03-23         High
13  2020-03-24         High
14  2020-03-25         High
15  2020-03-26         High
16  2020-03-27         High
17  2020-03-28         High
18  2020-03-29         High
19  2020-03-30         High
20  2020-03-31         High
21  2020-04-01         High
22  2020-04-02         High
23  2020-04-03         High

In [163]:
sheet7.dtypes

DATE                   object
RISK ASSESSMENT NIH    object
dtype: object

**SHEET 8**

In [164]:
sheet8.dtypes

Unnamed: 0                                  int64
region                                     object
Provinces Preparedness and Response        object
Date                                       object
Agg Provinces Preparedness and Response    object
dtype: object

In [165]:
sheet8.isnull().sum()

Unnamed: 0                                 0
region                                     0
Provinces Preparedness and Response        0
Date                                       0
Agg Provinces Preparedness and Response    0
dtype: int64

In [166]:
sheet8.rename(columns={'Unnamed: 0':'PROVINCE_RESPONSE_NO'},inplace=True)
sheet8.columns=sheet8.columns.str.upper().str.strip()
sheet8.columns

Index(['PROVINCE_RESPONSE_NO', 'REGION', 'PROVINCES PREPAREDNESS AND RESPONSE',
       'DATE', 'AGG PROVINCES PREPAREDNESS AND RESPONSE'],
      dtype='object')

In [167]:
sheet8

,PROVINCE_RESPONSE_NO,REGION,PROVINCES PREPAREDNESS AND RESPONSE,DATE,AGG PROVINCES PREPAREDNESS AND RESPONSE
0,0,Balochistan,316 newly arrived individuals screened and qua...,11-Mar-2020,316 newly arrived individuals screened and qua...
1,1,Balochistan,14 Chinese nationals quarantined at East Bay E...,11-Mar-2020,316 newly arrived individuals screened and qua...
2,2,Sindh,Staff deployed to designated quarantine facili...,11-Mar-2020,Staff deployed to designated quarantine facili...
3,3,Sindh,Training and orientation sessions for the heal...,11-Mar-2020,Staff deployed to designated quarantine facili...
4,4,KP & TD,24 High Dependency Units established across KP...,11-Mar-2020,24 High Dependency Units established across KP...
...,...,...,...,...,...
161,2,Sindh,Sindh Government has disbursed Rs.569.604 mill...,2020-04-03 00:00:00,Sindh Government has disbursed Rs.569.604 mill...
162,3,Punjab,District level trainings of HDU/Isolation/Quar...,2020-04-03 00:00:00,District level trainings of HDU/Isolation/Quar...
163,4,KP,Data transcription on to the IPMS software hos...,2020-04-03 00:00:00,Data transcription on to the IPMS software hos...
164,5,AJK,"Out of 9 confirmed cases, 6 are local transmis...",2020-04-03 00:00:00,"Out of 9 confirmed cases, 6 are local transmis..."
165,6,GB,Involvement of WHO staff to provide support in...,2020-04-03 00:00:00,Involvement of WHO staff to provide support in...

In [168]:
sheet8['REGION']=sheet8['REGION'].str.pad(12,side='right')
sheet8['PROVINCES PREPAREDNESS AND RESPONSE']=sheet8['PROVINCES PREPAREDNESS AND RESPONSE'].str.pad(12,side='right')
sheet8['AGG PROVINCES PREPAREDNESS AND RESPONSE']=sheet8['AGG PROVINCES PREPAREDNESS AND RESPONSE'].str.pad(12,side='right')

In [169]:
sheet8['REGION']=sheet8['REGION'].str.replace('KP & TD','KPTD')

In [170]:
#Change Date Datatype
sheet8['DATE']=pd.to_datetime(sheet8['DATE']).dt.date
sheet8.dtypes

PROVINCE_RESPONSE_NO                        int64
REGION                                     object
PROVINCES PREPAREDNESS AND RESPONSE        object
DATE                                       object
AGG PROVINCES PREPAREDNESS AND RESPONSE    object
dtype: object

In [171]:
sheet8

,PROVINCE_RESPONSE_NO,REGION,PROVINCES PREPAREDNESS AND RESPONSE,DATE,AGG PROVINCES PREPAREDNESS AND RESPONSE
0,0,Balochistan,316 newly arrived individuals screened and qua...,2020-03-11,316 newly arrived individuals screened and qua...
1,1,Balochistan,14 Chinese nationals quarantined at East Bay E...,2020-03-11,316 newly arrived individuals screened and qua...
2,2,Sindh,Staff deployed to designated quarantine facili...,2020-03-11,Staff deployed to designated quarantine facili...
3,3,Sindh,Training and orientation sessions for the heal...,2020-03-11,Staff deployed to designated quarantine facili...
4,4,KPTD,24 High Dependency Units established across KP...,2020-03-11,24 High Dependency Units established across KP...
...,...,...,...,...,...
161,2,Sindh,Sindh Government has disbursed Rs.569.604 mill...,2020-04-03,Sindh Government has disbursed Rs.569.604 mill...
162,3,Punjab,District level trainings of HDU/Isolation/Quar...,2020-04-03,District level trainings of HDU/Isolation/Quar...
163,4,KP,Data transcription on to the IPMS software hos...,2020-04-03,Data transcription on to the IPMS software hos...
164,5,AJK,"Out of 9 confirmed cases, 6 are local transmis...",2020-04-03,"Out of 9 confirmed cases, 6 are local transmis..."
165,6,GB,Involvement of WHO staff to provide support in...,2020-04-03,Involvement of WHO staff to provide support in...

**SHEET 9**

In [172]:
sheet9.isnull().sum()

Unnamed: 0          0
Cumulative Calls    0
Date                0
New Calls           0
dtype: int64

In [173]:
sheet9.columns=sheet9.columns.str.upper().str.strip()
sheet9.columns

Index(['UNNAMED: 0', 'CUMULATIVE CALLS', 'DATE', 'NEW CALLS'], dtype='object')

In [174]:
sheet9.drop(['UNNAMED: 0'], axis=1, inplace=True)

In [175]:
sheet9['DATE']=pd.to_datetime(sheet9['DATE']).dt.date

In [176]:
sheet9

    CUMULATIVE CALLS        DATE  NEW CALLS
0              12481  2020-03-11        547
1              13167  2020-03-12        686
2              13896  2020-03-13        729
3              15340  2020-03-14       1444
4              19131  2020-03-15       3791
5              26193  2020-03-16       7062
6              33427  2020-03-17       7234
7              41563  2020-03-18       8136
8              48786  2020-03-19       7223
9              56892  2020-03-20       8106
10             65602  2020-03-21       8710
11             65602  2020-03-22       8710
12             84700  2020-03-23       9654
13             93991  2020-03-24       9291
14            110052  2020-03-25      16061
15            152633  2020-03-26      42581
16            152633  2020-03-27          0
17            321600  2020-03-28     138062
18            449289  2020-03-29     128229
19            531628  2020-03-30      82799
20            620574  2020-03-31      88946
21            700728  2020-04-01      80154
22            772723  2020-04-02      71995
23            840021  2020-04-03      67298

In [177]:
sheet9.dtypes

CUMULATIVE CALLS     int64
DATE                object
NEW CALLS            int64
dtype: object

**SHEET 10**

Display sheet 10

In [178]:
sheet10

,Unnamed: 0,Regions,Quarantine facilities (n),No. of arrivals in last 24 hrs,Cumulative no of persons present,Date
0,0,ICT,1,0,24,2020-04-01
1,1,Punjab,4,0,2956,2020-04-01
2,2,Sindh,5,0,1388,2020-04-01
3,3,KP,92,181,3260,2020-04-01
4,4,Balochistan,9,0,366,2020-04-01
5,5,AJK,13,210,373,2020-04-01
6,6,GB,47,0,526,2020-04-01
7,0,ICT,1,7,31,2020-04-02
8,1,Punjab,4,0,2956,2020-04-02
9,2,Sindh,5,0,1365,2020-04-02
10,3,KP,98,98,3223,2020-04-02
11,4,Balochistan,9,0,364,2020-04-02
12,5,AJK,37,5,188,2020-04-02
13,6,GB,47,3,529,2020-04-02
14,0,ICT,6,0,30,2020-04-03
15,1,Punjab,4,0,2956,2020-04-03
16,2,Sindh,5,0,1363,2020-04-03
17,3,KP,101,279,3312,2020-04-03
18,4,Balochistan,9,0,408,2020-04-03
19,5,AJK,37,22,197,2020-04-03
20,6,GB,47,0,227,2020-04-03

Check datatypes of columns

In [179]:
sheet10.dtypes

Unnamed: 0                                   int64
Regions                                     object
Quarantine facilities (n)                    int64
No. of arrivals in last 24 hrs               int64
Cumulative no of persons present             int64
Date                                datetime64[ns]
dtype: object

Check whether there is any empty spaces in columns

In [180]:
sheet10.isnull().sum()

Unnamed: 0                          0
Regions                             0
Quarantine facilities (n)           0
No. of arrivals in last 24 hrs      0
Cumulative no of persons present    0
Date                                0
dtype: int64

Drop the first column, Rename the 'Regions' column to 'REGION' and capitalize all the column names

In [181]:
sheet10.drop(['Unnamed: 0'], axis=1, inplace=True)
sheet10.rename(columns={'Regions':'REGION'},inplace=True)
sheet10.columns=sheet10.columns.str.upper().str.strip()
sheet10

,REGION,QUARANTINE FACILITIES (N),NO. OF ARRIVALS IN LAST 24 HRS,CUMULATIVE NO OF PERSONS PRESENT,DATE
0,ICT,1,0,24,2020-04-01
1,Punjab,4,0,2956,2020-04-01
2,Sindh,5,0,1388,2020-04-01
3,KP,92,181,3260,2020-04-01
4,Balochistan,9,0,366,2020-04-01
5,AJK,13,210,373,2020-04-01
6,GB,47,0,526,2020-04-01
7,ICT,1,7,31,2020-04-02
8,Punjab,4,0,2956,2020-04-02
9,Sindh,5,0,1365,2020-04-02
10,KP,98,98,3223,2020-04-02
11,Balochistan,9,0,364,2020-04-02
12,AJK,37,5,188,2020-04-02
13,GB,47,3,529,2020-04-02
14,ICT,6,0,30,2020-04-03
15,Punjab,4,0,2956,2020-04-03
16,Sindh,5,0,1363,2020-04-03
17,KP,101,279,3312,2020-04-03
18,Balochistan,9,0,408,2020-04-03
19,AJK,37,22,197,2020-04-03
20,GB,47,0,227,2020-04-03

Change the datatype of the 'DATE' column

In [182]:
sheet10['DATE']=pd.to_datetime(sheet10['DATE']).dt.date
sheet10['DATE'][3]

datetime.date(2020, 4, 1)

Padding on the 'REGION' column

In [183]:
sheet10['REGION']=sheet10['REGION'].str.pad(12,side='right')
sheet10.head()

,REGION,QUARANTINE FACILITIES (N),NO. OF ARRIVALS IN LAST 24 HRS,CUMULATIVE NO OF PERSONS PRESENT,DATE
0,ICT,1,0,24,2020-04-01
1,Punjab,4,0,2956,2020-04-01
2,Sindh,5,0,1388,2020-04-01
3,KP,92,181,3260,2020-04-01
4,Balochistan,9,0,366,2020-04-01

Display sheet10

In [184]:
sheet10

,REGION,QUARANTINE FACILITIES (N),NO. OF ARRIVALS IN LAST 24 HRS,CUMULATIVE NO OF PERSONS PRESENT,DATE
0,ICT,1,0,24,2020-04-01
1,Punjab,4,0,2956,2020-04-01
2,Sindh,5,0,1388,2020-04-01
3,KP,92,181,3260,2020-04-01
4,Balochistan,9,0,366,2020-04-01
5,AJK,13,210,373,2020-04-01
6,GB,47,0,526,2020-04-01
7,ICT,1,7,31,2020-04-02
8,Punjab,4,0,2956,2020-04-02
9,Sindh,5,0,1365,2020-04-02
10,KP,98,98,3223,2020-04-02
11,Balochistan,9,0,364,2020-04-02
12,AJK,37,5,188,2020-04-02
13,GB,47,3,529,2020-04-02
14,ICT,6,0,30,2020-04-03
15,Punjab,4,0,2956,2020-04-03
16,Sindh,5,0,1363,2020-04-03
17,KP,101,279,3312,2020-04-03
18,Balochistan,9,0,408,2020-04-03
19,AJK,37,22,197,2020-04-03
20,GB,47,0,227,2020-04-03

Saving the data in another excel sheet

In [185]:
writer = pd.ExcelWriter('NewCoronaVirus.xlsx')

sheet1.to_excel(writer,'TimeSeries_KeyIndicators', index=False)
sheet2.to_excel(writer,'TimeSeries_KeyIndicators_Detail',index=False)
sheet3.to_excel(writer,'TimeSeries_Action_Screen',index=False)
sheet4.to_excel(writer,'TimeSeries_Action_Call',index=False)
sheet5.to_excel(writer,'TimeSeries_COVID_News',index=False)
sheet6.to_excel(writer,'TimeSeries_NIH_Response',index=False)
sheet7.to_excel(writer,'TimeSeries_NIH_Risk',index=False)
sheet8.to_excel(writer,'TimeSeries_Province_Response',index=False)
sheet9.to_excel(writer,'TimeSeries_Helpline_Calls',index=False)
sheet10.to_excel(writer,'TimeSeries_Quarantine_Details',index=False)

writer.save()